/**{outline: 1px solid red;}*/

body h1, body h2, body h3, body h4, body h5, body h6, body ul, body li { margin: 0; padding: 0;}
body, p {margin: 0;}
body{font-family: 'PT Sans', sans-serif;}
header{ text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
  box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
}
/*--------hover-img-------*/
.view {width: 100%; height: 100%; float: left; overflow: hidden; position: relative; text-align: center; cursor: default;}
.view .mask, .view .content { width: 100%; height: 100%; position: absolute; overflow: hidden; top: 0; left: 0;}
.view img { display: block; position: relative;}
.second-effect .mask { opacity: 0;  overflow:visible; border:0px solid rgba(11,22,60,0.4); box-sizing:border-box; transition: all 0.4s ease-in-out;}
.second-effect:hover .mask { opacity: 1; border:200px solid rgba(11,22,60,0.4);}
/*-------------------slider-------------*/
body section {display: block;}
#section-1 h1 { font-family: Montserrat, sans-serif; font-weight: 700; text-transform: uppercase;}
#section-1 h2 { font-family: Montserrat, sans-serif; font-size: 1.875em; font-weight: 700; text-transform: uppercase;}
#section-1 h3 { font-family: 'Kaushan Script', cursive; font-size: 1.5em; font-weight: 400;}
#section-1 h4 { font-family: Montserrat, sans-serif; font-size: 0.875em; font-weight: 400; text-transform: uppercase;}
#section-1 p { line-height: 150%; font-size: 17px; color: #eee; margin: 0 20%;}
body li { list-style-type: none;}
body a { text-decoration: none;}
.bg-wrapper { width: 100%; height: 100%; background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));}
.section-header { padding-top: 5.625em; text-align: center;} 
.section-header h3 { margin-bottom: 0.5em;} 
.section-header .line-red { margin: 2.5em auto 2.9375em auto;} 
.line-red {display: block; width: 4em; height: 0.1875em; margin: 0 auto; background: #f38181;}

#section-1 { height: 650px; max-height: 650px; width: 100%; color: #fff;background-color: #222;} 
#section-1 .content-slider {position: relative; width: 100%; height: 100%;}
#section-1 .content-slider input {display: inline-block; position: absolute; bottom: 3%; z-index: 9999; left: 50%;}
#section-1 .content-slider .input1 { left: 48%;}
#section-1 .content-slider .input3 { left: 52%;}
#section-1 .content-slider .slider { position: relative; width: inherit; height: inherit; overflow: hidden;}
#section-1 .content-slider .slider .banner {position: absolute; top: 0; left: 0; opacity: 0; z-index: 0; width: inherit; height: inherit;
  /*text-align: center;*/ background-repeat: no-repeat; background-position: 50% 50%; transition: all .5s ease;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper { height: 100%; padding-top: 15em;}
/*#section-1 .content-slider .slider .banner .wraper-1 { height: 100%; padding-top: 19em;}*/
#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {padding-bottom: 0.3em; font-weight: 400; font-size: 3em;
 text-transform: none;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {font-size: 3.5em; line-height: 95%;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {display: block; width: 4em; height: 0.1875em; margin: 2.5em 0; background: #fff;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .line2 { margin: 2.5em 0;float: right;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .line3 {margin: 2.5em auto;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .parraf-1 {margin: 0 35% 0 0;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .parraf-2 {float: right; margin-right: 0; margin-left: 35%;}
#section-1 .content-slider .slider #top-banner-1 {background: url('../img/construccion/slider-01.jpg') no-repeat center center;background-size: cover;}
#section-1 .content-slider .slider #top-banner-2 {background: url('../img/construccion/slider-02.jpg') no-repeat center center;background-size: cover;}
#section-1 .content-slider .slider #top-banner-3 {background: url('../img/construccion/slider-03.jpg') no-repeat center center; background-size: cover;}

#section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
#section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
#section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
#section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
  opacity: 1;
  z-index: 1;
}

/*------works---------*/
.works {padding: 70px 0; background-color: #E9E9EA;}
.works .imagen img{width: 100%;}
.works .imagen .view {margin-bottom: 15px;}
.works .imagen .second-effect:hover .mask { opacity: 1; border:130px solid rgba(11,22,60,0.4);}
.works .texto h4{margin: 15px 0; color: rgba(11,22,60,.8); font-family: 'Oswald', sans-serif; font-weight: 400;}
.works .texto p{color: #818080;}


#features .slider img{width: 100%; /*padding:5px;*/ }
#features h4{text-transform: uppercase; padding-bottom: 20px;}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {position: relative; overflow: hidden; display: block;margin: 0; padding: 0;}
.slick-list:focus { outline: none;}
.slick-list.dragging { cursor: pointer; cursor: hand;}
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1;}
.slick-track:before, .slick-track:after { content: ""; display: table;}
.slick-track:after { clear: both;}
.slick-loading .slick-track { visibility: hidden;}
.slick-slide { float: left; height: 100%; min-height: 1px; display: none;}
.slick-slide img { display: block;}
.slick-slide img.slick-loading { background: white url(./ajax-loader.gif) center center no-repeat; padding-bottom: 100%;}
.slick-slide.dragging img { pointer-events: none;}
.slick-initialized .slick-slide { display: block;}
.slick-loading .slick-slide { visibility: hidden;}
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent;}
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0; font-size: 0; cursor: pointer;
  background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none;}
.slick-prev:focus, .slick-next:focus { outline: none;}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25;}
.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px;line-height: 1; color: white; opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev { left: -25px;}
.slick-prev:before {content: '\2190';}
.slick-next { right: -25px;}
.slick-next:before { content: '\2192';}
.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0px; width: 100%;}
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0px 5px; padding: 0px; cursor: pointer;}
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0;
  font-size: 0; color: transparent; padding: 5px; cursor: pointer; outline: none;}
.slick-dots li button:focus { outline: none;}
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: '\2022'; width: 20px; height: 20px; font-family: "slick";
  font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {opacity: 0.75;}
.content { width: 84%; margin: auto;}
.blue { /*background: rgba(11,22,60,.8);*/ color: #fff; padding: 70px 0;
  background-image: url('../img/construccion/background.jpg'); background-size: cover; width: 100%; background-position: right;
}
.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0px; width: 100%;}
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0px 5px; padding: 0px; cursor: pointer;}
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0;
  font-size: 0; color: transparent; padding: 5px; cursor: pointer; outline: none;}
.slick-dots li button:focus { outline: none;}
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: '\2022'; width: 20px; height: 20px; font-family: "slick"; font-size: 20px;
  line-height: 20px; text-align: center; color: white; opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before { opacity: 0.75;}


.snip1302 {position: relative; overflow: hidden; width: 100%; color: #ffffff; text-align: center;}
.snip1302 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s 0.5s ease;
  transition: all 0.35s 0.5s ease;
}
.snip1302 figcaption {position: absolute;height: 100%; width: 100%; top: 0; left: 0; z-index: 1;}
.snip1302 h4 {position: absolute; margin: 0; width: 100%; left: 0; top: 50%; opacity: 0; padding: 0 20px; font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
}
.snip1302 h4 span{text-transform: none; font-size: 14px; font-weight: 100;}
.snip1302:before {position: absolute; bottom: 0; left: 100%; top: 0; right: 0; content: ''; background-color: rgba(73,147,220, .9); z-index: 1;
  opacity: 0.4;
  -webkit-transition: all 0.35s 0.3s ease-in;
  transition: all 0.35s 0.3s ease-in;
}
.snip1302 a { left: 0; right: 0; top: 0; bottom: 0; position: absolute; z-index: 2;}
.snip1302:hover img, .snip1302.hover img { opacity: 0.4;}
.snip1302:hover h4, .snip1302.hover h4 { opacity: 1;}
.snip1302:hover h4, .snip1302.hover h4 { -webkit-transform: translate(0, -50%); transform: translate(0, -50%);}
.snip1302:hover:before, .snip1302.hover:before { left: 0;
  -webkit-transition: all 0.35s 0s ease-out;
  transition: all 0.35s 0s ease-out;
}

/*-----preguntasss------------*/
.section-info {background:#f9f9f9;}
.section-info section{background-image: url('../img/construccion/man-constructor.png'); background-repeat: no-repeat; 
background-position: right; padding: 70px 0; background-position-y: -40%;}
.section-info .tab-content{padding: 0;}
.section-info .tab-content img{width: 100%;}
.section-info .tab-content i{color: rgba(11,22,60,.8); width: 15px;}
.section-info .tab-content .title h4{color: rgba(11,22,60,.8); font-family:'Oswald', sans-serif; margin-bottom: 15px;}
.section-info .tab-content .title p, li{color: #8e8d8d;}
.section-info .nav-tabs {border: none;}
.section-info .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color: #fff; font-weight: 100; border: 1px solid #ccc;}
.section-info .nav-tabs li a.activo{background: #fff;}
.section-info .nav-tabs>li>a{color:#999; font-weight:400; margin-right:0px; border-radius:0px;background:#fff; border:1px solid rgba(11,22,60,.1);}
.section-info .nav-tabs > li.active > a{color: rgb(11,22,60); border-radius: 0px; font-weight: bold; border-left: 5px solid; font-size:15px; 
  background:#f9f9f9; border-right: 0px solid;}
.section-info .nav-tabs > li a:hover{background-color: #ccc; color:rgba(11,22,60,.9);border:1px solid #ccc; border-left: 5px solid #ccc; }
.section-info .nav-tabs>li{float: none; margin-bottom: 5px;}


/*------------sep-img------------*/
.separador { background-image: url('../img/separador-img.jpg'); background-size:cover; width:100%; padding:70px 0; }
.separador h3{ color: #fff; padding-bottom: 40px;}
.separador button{ background: rgba(11,22,60,.8); color: #fff; border: none; padding: 5px 15px;}
.separador button:hover{ background: #fff; color: rgb(11,22,60); border: none; }

.back-img{background-image: url('../img/separador-img.jpg'); background-size: cover; width: 100%; padding: 70px 0;}
.back-img h3{ color: #fff; padding-bottom: 40px; }
.back-img button{ background: rgba(11,22,60,.8); color: #fff; border: none; padding: 5px 15px;}
.back-img button:hover{ background: #fff; color: rgb(11,22,60); border: none; }
/*------------note-----------*/
.note{background-image: url('../img/construccion/bg-edificio.jpg'); background-size: cover;}
.note .info{padding: 50px 20px 20px;}
.note .info h3 {color: rgba(11,22,60,.8); font-weight: 500; padding-bottom: 20px;}
.note .info h4 {color: rgba(11,22,60,.8); font-weight: bold; padding: 15px 0;}
.note .info i {color: rgba(11,22,60,.8); width: 15px;}

/*-------------clientes-------------*/
.section-aliados { padding: 70px 0;}
.section-aliados h4 { padding-bottom: 40px; text-transform: uppercase; color: rgba(11,22,60,.8);}
.section-aliados ._fondo img{ filter: grayscale(98%); transition: grayscale 0.5s; width: 90%; margin: auto;}
.section-aliados ._fondo img:hover { filter: grayscale(0);}
.section-aliados .col-md-2 { width: 20%;}
.section-aliados .border { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}


@media only screen and (min-width: 1920px) {
}
@media (max-width:991px) {
  .section-info section{background-image: none; padding: 70px 0;}
  #section-1 { height: 500px; max-height: 740px;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper { padding-top: 7em;}
  .note .info{padding: 30px 0px 10px 20px;}
}
@media (max-width:767px) {
  .tab-content > .active{padding-top: 20px;}
  .note .info{padding: 50px 0px;}
  .note .imagen{padding: 50px 0 0;}
}
@media (max-width:660px) {
  .section-aliados .col-md-2 {width: 33.3%;}
}
@media only screen and (max-width: 480px) {
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {font-size: 1.5em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 { font-size: 2.5em;}
  #section-1 p { font-size: 15px; }
  #section-1 .content-slider .input1 { left: 46%;}
  #section-1 .content-slider .input3 { left: 54%;}
}
@media (max-width:425px) {
  .section-info .tab-content .title .col-xs-5 {width: 100%;}
  .section-info .tab-content .title .col-xs-7 {width: 100%;}
}
@media (max-width:350px) {
  .section-aliados .col-md-2 {width: 50%;}
}





/*@media only screen and (min-width: 1920px) {
  body { font-size: 22px;}
  #section-1 {height: 46em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 12em;}
}*/
/*@media only screen and (max-width: 1919px) {
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 21em;}
  #section-1 .content-slider .slider .banner .wraper-1 { padding-top: 27.5em;}
}*/


/*@media only screen and (max-width: 1680px) { 
  #section-1 .content-slider .slider .banner .banner-inner-wrapper { padding-top: 5em;}
  #section-1 .content-slider .slider .banner .wraper-1 { padding-top: 10.7em;}
}*/


/*@media only screen and (max-width: 1366px) {
  body { font-size: 14px;}
}*/
/*@media only screen and (max-width: 1120px) {
  #section-1 { height: 35em;}
  #section-1 .content-slider nav { bottom: -0.2em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper { padding-top: 7em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 2em auto;}
}
@media only screen and (max-width: 1024px) {
  body {font-size: 14px;}
  #section-1 .content-slider nav {bottom: 0;}
  #section-1 .content-slider nav .controls {width: 80%;}
}*/

