/**{outline: 1px solid red;}*/

body h1, body h2, body h3, body h4, body h5, body h6, body ul, body li { margin: 0; padding: 0;}
body, p {margin: 0;}
body{font-family: 'PT Sans', sans-serif;}
header{ text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
  box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
}

.control{margin: 40px 0 0;}
.control hr{color: #ccc; margin: 0px;}
.control .box-links p{color: #ccc; padding: 7px 20px;}
.control .box-links a{color: #000; font-size: 12px;}
.title-page h2{font-weight: bold; color: rgb(212,42,94); padding: 40px 0 20px; font-family:'Oswald', sans-serif; }
.title-page hr{ margin: 0px; width: 10%; border-top: 3px solid rgb(212,42,94); } 


.formulario{padding: 50px 0; }
.formulario .mapa iframe {width: 100%; }
.formulario #contact-area input, textarea {width: 100%; padding: 5px 10px; margin-bottom: 10px; }
.formulario #contact-area .submit-button {width:40%; background: rgb(212,42,94); border:none; color: #fff; text-transform: uppercase;}
.formulario #contact-area .submit-button:hover { background: rgba(11,22,60,.8); color: #fff; border:none; }