/**{outline: 1px solid red;}*/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

body{font-family: 'PT Sans', sans-serif;}
/*-------------slider------------*/
body section {display: block;}
body h1, body h2, body h3, body h4, body h5, body h6, body ul, body li { margin: 0; padding: 0;}
#section-1 h1 { font-family: Montserrat, sans-serif; font-weight: 700; text-transform: uppercase;}
#section-1 h2 { font-family: Montserrat, sans-serif; font-size: 1.875em; font-weight: 700; text-transform: uppercase;}
#section-1 h3 { font-family: 'Kaushan Script', cursive; font-size: 1.5em; font-weight: 400;}
#section-1 h4 { font-family: Montserrat, sans-serif; font-size: 0.875em; font-weight: 400; text-transform: uppercase;}
#section-1 p { line-height: 150%; font-family: Roboto, sans-serif; font-size: 0.9375em; color: #999;}
body li { list-style-type: none;}
body a { text-decoration: none;}
.bg-wrapper { width: 100%; height: 100%; background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));}
.section-header { padding-top: 5.625em; text-align: center;}
.section-header h3 { margin-bottom: 0.5em;}
.section-header .line-red { margin: 2.5em auto 2.9375em auto;}
.line-red {display: block; width: 4em; height: 0.1875em; margin: 0 auto; background: #f38181;}

#section-1 { height: 38em; color: #fff;background-color: #222; /*margin-top: 4px*/;} 
#section-1 .content-slider {position: relative; width: 100%; height: 100%;}
#section-1 .content-slider input {display: none;}
#section-1 .content-slider .slider { position: relative; width: inherit; height: inherit; overflow: hidden;}
#section-1 .content-slider .slider .banner {position: absolute; top: 0; left: 0; opacity: 0; z-index: 0; width: inherit; height: inherit;
  text-align: center; background-repeat: no-repeat; background-position: 50% 50%; transition: all .5s ease;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper { height: 100%; padding-top: 6em;
  /*background-image: linear-gradient(rgba(11,22,60, 0.8), rgba(223, 189, 153, 0.8)); box-sizing: border-box;*/
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {padding-bottom: 0.3em; font-family: 'Kaushan Script', cursive;
  font-weight: 400; font-size: 2.5em; text-transform: none;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {font-size: 6em; line-height: 95%;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {display: block; width: 4em; height: 0.1875em; margin: 2.5em auto; background: #fff;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {padding-bottom: 5em; z-index: 15 !important;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
  padding: 0.5em 2em; text-align: center; font-size: 0.875em; color: #fff; text-transform: uppercase; border: 0.1875em solid #fff;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
  color: rgba(11,22,60,.7); border-color: rgba(11,22,60,.7); transition: .3s;}
#section-1 .content-slider .slider #top-banner-1 {background: url('../img/slider2.jpg') no-repeat center center;background-size: cover;}
#section-1 .content-slider .slider #top-banner-2 {background: url('../img/slider3.png') no-repeat center center;background-size: cover;}
#section-1 .content-slider .slider #top-banner-3 {background: url('../img/slider1.jpg') no-repeat center center; background-size: cover;}
#section-1 .content-slider .slider #top-banner-4 {background: url('../img/slide-6.jpg') no-repeat center center; background-size: cover;}
#section-1 .content-slider nav { position: absolute; bottom: 0.5em; width: 100%; z-index: 10; text-align: center;}
#section-1 .content-slider nav .controls {display: block; /*width: 70%;*/ margin: 0 auto; color: #fff;}
#section-1 .content-slider nav .controls label { position: relative; display: inline-block; width: 20%; height: 3.1em; overflow: hidden;
 margin: 0 1em; padding-top: 1em; text-align: left; text-transform: uppercase; font-size: 1em; color: #f6eac5; font-weight: 400; cursor: pointer; transition: all .3s;}
#section-1 .content-slider nav .controls label .progressbar { position: absolute; top: 0; left: 0; height: 3px; width: 100%;
  background: #f6eac5; z-index: 100;}
#section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
 position: inherit;
  width: inherit;
  height: inherit;
  margin-left: -100%;
  background: rgba(11,22,60,.7);
}
#section-1 .content-slider nav .controls label span {font-size: 1.4em; font-weight: 700;}
#section-1 .content-slider nav .controls label:hover {color: rgba(11,22,60,.7);}
#section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
#section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
#section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
#section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
  opacity: 1;
  z-index: 1;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
  cursor: default;
  color: #fff;
  transition: all .5s;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
  background: #fff;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
  animation: progressBarFill 5s linear;
}

@keyframes progressBarFill {
  from {margin-left: -100%;}
  to {margin-left: 0;}
}
@media only screen and (min-width: 1920px) {
  body { font-size: 22px;}
  /*.main-header .header-wrapper {width: 57%;}*/
  #section-1 {height: 46em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 12em;}
}
@media only screen and (max-width: 1919px) {
  body {font-size: 20px;}
  /*.main-header .header-wrapper {width: 60%;}*/
  #section-1 {height: 43em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 11em;}
}
@media only screen and (max-width: 1680px) {
  body { font-size: 18px;}
  /*.main-header .header-wrapper { width: 65%;}*/
  #section-1 { height: 35em;}   /*40em*/
  #section-1 .content-slider .slider .banner .banner-inner-wrapper { padding-top: 5em;}
  #section-1 .content-slider .slider .banner .wraper-1 { padding-top: 10.7em;}
}
@media only screen and (max-width: 1366px) {
  body { font-size: 14px;}
  /*.main-header .header-wrapper { width: 70%;}*/
}
@media only screen and (max-width: 1120px) {
  /*.main-header .header-wrapper .main-menu li {padding: 0.75em 1.4em;}*/
  #section-1 { height: 35em;}
  #section-1 .content-slider nav { bottom: -0.2em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper { padding-top: 7em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 2em auto;}
}
@media only screen and (max-width: 1024px) {
  body {font-size: 14px;}
  /*.main-header .header-wrapper .main-menu li {padding: 0.75em 1.3em;}*/
  #section-1 .content-slider nav {bottom: 0;}
  #section-1 .content-slider nav .controls {width: 80%;}
}
@media only screen and (max-width: 860px) {
  /*.main-header .header-wrapper .main-menu li { padding: 0.75em 0.9em;}*/
  #section-1 {height: 29em;}
  #section-1 .content-slider nav {bottom: -1em;}
  #section-1 .content-slider nav .controls {width: 90%;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {font-size: 2em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {font-size: 4.5em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 5em;}
}
@media only screen and (max-width: 768px) {
  /*.main-header .header-wrapper .main-menu li {padding: 0.75em 0.5em;}*/
  #section-1 {height: 27em;}
  #section-1 .content-slider nav .controls {width: 100%;}
  #section-1 .content-slider nav .controls label {width: 19%; font-size: 0.8em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 1.7em auto;}
}
@media only screen and (max-width: 650px) {
  /*.main-header .header-wrapper {width: 95%;}*/
}
@media only screen and (max-width: 480px) {
  /*.main-header .header-wrapper {width: 97%;}
  .main-header .header-wrapper .main-logo {display: none;}
  .main-header .header-wrapper .main-menu li {padding: 0.2em 0.3em;}
  .main-header .header-wrapper .main-menu li:last-child, .main-header .header-wrapper .main-menu li:nth-child(6) {padding: 0.2em 0.7em;}*/
  #section-1 {height: 26em; }
  #section-1 .content-slider nav {bottom: -0.5em; }
  #section-1 .content-slider nav .controls label {width: 40%; font-size: 0.7em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {font-size: 1.5em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 { font-size: 3em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 1.7em auto;}
}

/*-------------fin slider------------*/
/*-----paralax-------*/
body {margin: 0; color: #333; text-align: center; overflow-x: hidden;}
.image {overflow: hidden; height: 400px;}
.header {height: 500px;}
.backgroundImage {overflow: hidden; height: 100%; background-image: url('../img/imagen1.jpg'); background-position: bottom; position: relative;}
.content { background: white;}
.content article {padding: 10px; margin: 0 auto; max-width: 480px;}

/*----botom----pop icon-----*/
ul.alt-nav {display: flex; flex-flow: row wrap; justify-content: space-around; list-style-image: none; list-style-position: outside;
  list-style-type: none; margin: 20px auto; max-width: 1170px; padding-left: 0;}
.alt-nav-item {height: 150px; position: relative; text-align: center;}
.alt-nav-item .icon {bottom: 55px; left: calc(50% - 50px); position: absolute; transition: bottom .2s ease-in-out; width: 95px; height:95px; 
  font-size: 47px; padding: 10px 5px; border: 3px solid rgb(11,22,60); border-radius: 50%;}
.alt-nav-item .fa {transition: fill .2s ease-in-out; z-index: 2; color: rgb(11,22,60);}
.alt-nav-item .cat-shadow {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
  bottom: 50px;
  border-radius: 50%; height: 8px; left: calc(50% - 30px); opacity: 0.5; position: absolute;
  transition: bottom .2s ease-in-out, left .2s ease-in-out, height .2s ease-in-out, width .2s ease-in-out;
  width: 60px;
  z-index: 1;
}
.alt-nav-item-title { bottom: 0; position: absolute; width: 100%; margin-left: -15px;}
.alt-nav-item a .alt-nav-item-title {color: rgb(11,22,60); font-size: 16px;}
.alt-nav-item:hover .icon {bottom: 70px; border: 3px solid rgb(98,36,140);}
.alt-nav-item:hover .fa {color: rgb(98,36,140);}
.alt-nav-item:hover .cat-shadow {bottom: 48px; height: 12px; left: calc(50% - 35px); width: 70px;}
.alt-nav-item:hover .alt-nav-item-title { color:rgb(98,36,140);}
.alt-nav-item:hover .text-right { color: red;}
.alt-nav-caption {
  background: rgb(223,189,153); 
  padding: 30px 0 70px; width: 100%; transition: height .5s ease-in-out; z-index: 1;}
.half {float: left; width: calc(50% - 90px);}
.text-left {color: #fff; font-size: 13px; text-align: left; }
.text-right {color: rgb(11,22,60); font-size: 33px; text-align: right;}
.clearfix { display: block; clear: both;}
.alt-caption {position: absolute; display: block; opacity: 0; transition: opacity .7s ease-in-out; width: 100%;}
.active-caption { display: block; opacity: 1; z-index: 20;}
@media (max-width: 767px) {
  .half { width: 100%;}
  /*.text-left {text-align: center; }*/
  .text-right{text-align: center;}
  .alt-nav-caption{padding: 30px 0 115px;}
  .alt-nav-item{margin-bottom: 22px;}
}
@media (max-width: 479px) {
  .alt-nav-item a .alt-nav-item-title {font-size: 15px;}
  .text-right {font-size: 25px;}
  /*.text-left {font-size: 15px;}*/
}

/*----------pop-icons-------------*/
.pop-icons{background: #eee; padding: 180px 0 20px;}
.pop-icons div { position:relative; top:50%; left:48.7%; z-index: 1;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}
.pop-icons a i{font-size: 40px;}
.pop-icons a {color:#fff; background: rgba(11,22,60,.9); border-radius:7px; text-align:center; text-decoration:none;
  position: relative; padding:45px 40px 30px; margin:0 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}
.pop-icons a:hover {background: rgb(223,189,153);}
.pop-icons a span {color:#666; position:absolute; bottom:0; left:-25px; right:-25px; padding:5px 7px; z-index:-1;
  font-size:14px; border-radius:2px; background:#fff; visibility:hidden; opacity:0; border: 1px solid #ccc;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.pop-icons a span:before { content:''; width: 15px;  height: 0;  border-left: 7px solid transparent; border-right: 7px solid transparent;
  border-top: 9px solid #ccc; position:absolute; bottom:-9px; left:40px;}
.pop-icons a:hover span { bottom:110px; visibility:visible; opacity:1;}

/*---------------content------------------*/
.content-servicios{ 
  background-image: url('../img/fondo-testimonio.jpg'); background-size: 100px;
}
.content-servicios .opacity{background: rgba(225,225,225,.8); padding: 50px 0 40px;}
.content-servicios .fondo{background: rgba(11,22,60,.8); padding-bottom: 3%; padding-right: 15px; padding-left: 15px; position: relative;}
.content-servicios .box-servis{ width: 400px; height: 0; border-right: 25px solid transparent; border-bottom: 35px solid rgb(212,42,94);
 padding: 0 15px 0 0; position: absolute; top: -3%; left:0px; }
.content-servicios .box-servis h4{color: #fff; padding: 8px 0;}
.content-servicios .box-servis h4 span{font-weight: bold; text-transform: uppercase;}
.content-servicios .text-in{ color: #fff; padding-top: 4%; }
.content-servicios .text-in .cuadro { padding: 10px; background: #ccc; margin: 10px 0;}
.content-servicios .text-in .cuadro img{width: 100%;}
.content-servicios .text-in .text {background: #eee; position: relative;}
.content-servicios .text-in .text .padding-box {padding: 10px; position: relative;}
.content-servicios .text-in .text h5 {color:#58595b; text-align: left; padding: 5px 0;font-family:'Oswald', arial serif;}
.content-servicios .text-in .text p{color: #808082; text-align: justify;}
.content-servicios .text-in .text .box-more{ width: 50px; height: 0; border-left: 20px solid transparent; border-bottom: 25px solid #ccc;
 right:0px; bottom: 0px;  padding: 0 3px 0 0; position: absolute;}
.content-servicios .text-in .text .box-more i{padding: 6px 0;}
.content-servicios .text-in .text .box-more:hover {border-bottom: 25px solid rgb(212,42,94);}
.content-servicios .title h3{color:#eee; font-family:'Oswald', sans-serif; font-weight: 400; font-size: 20px; text-transform:uppercase; }


.content-tres{padding: 50px 0 0;}
.content-tres .texto-rojo{ color: rgb(212,42,94); font-weight: bold; font-size: 60px;}
.content-tres .texto-gris{margin-top: 43px; font-size: 20px;}
.content-tres .texto-gris p .text1{ font-weight: bold; font-size: 23px;}
.content-tres .texto-gris p span{ font-size: 35px; line-height: 25px; font-weight: bold;}
.content-tres p{/*font-size: 10px;*/ color: rgb(11,22,60); }
.content-tres .title-requi{color: #999; font-family:'Oswald', sans-serif; font-weight: 400; font-size:17px; }
.content-tres .padding-bott{padding-bottom: 40px; }
.content-tres .icono{ color: #ccc; padding: 5px 10px; font-size: 30px; margin: auto; background: #ccc; height:50px; width:50px; border-radius:50%;}
.content-tres .icono p{ color: #fff;}
/*.content-tres .fondo-png{background-image: url(../img/fondo-datos2.jpg);background-position: right;background-repeat: no-repeat;background-size:contain; }*/
.content-tres .border-box{border: 1px solid #eee; }
.content-tres .box-prestamo{ width: 400px; height: 0; border-right: 25px solid transparent; border-bottom: 35px solid rgb(212,42,94);
 margin-top: -1%; float: left;}
 .content-tres .box-prestamo h4{color: #fff; padding: 6px 0;}
 .content-tres .box-prestamo h4 span{font-weight: bold; font-weight:bold; font-size: 20px;}
/*.content-dos{background-image: url(../img/fondo-testimonio.jpg); background-size: 100px;}
.content-dos .fondo-test{background: rgba(11,22,60,.8); padding: 30px 0 10px; }
.quote {color: rgb(212,42,94); text-align: center;}
.quote i{font-size: 3em;}
#fade-quote-carousel.carousel { padding-bottom: 60px;}
#fade-quote-carousel.carousel .carousel-inner .item {opacity: 0;
  -webkit-transition-property: opacity;    
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {bottom: 10px;}
#fade-quote-carousel.carousel .carousel-indicators > li {background-color:rgb(212,42,94); border: none;}
#fade-quote-carousel blockquote {text-align: center; border: none; color: #505050; padding-top:47px; font-style: italic;}
#fade-quote-carousel blockquote h5 {font-weight: bold; font-family: 'PT Sans', sans-serif;}
#fade-quote-carousel .profile-circle {width:120px;height:120px; margin: 0 auto;border-radius: 100px;float: right;
  background-image: url('../img/testimonio.png');background-size: cover;}*/

.section-slick {width: 85%; margin: 20px auto;}
.white-back{box-shadow: 0 2px 5px rgba(0,0,0,0.2); background: #fff;}
.simple blockquote img{width: 100%;}
.simple blockquote{padding: 10px; margin: 0 0 0;}
.simple cite {font-size: 1em; float: right; font-style: normal; color: #1e528e;  position: absolute; top: 4%;}
.simple cite a { color: #2d91c2; font-style: italic; text-decoration: none; font-size:.85em;}
.simple cite a:hover { color: #00B4CC;}
.simple blockquote p {cursor: pointer;}
.slick-prev:before, .slick-next:before{color: rgb(212,42,94);}
.bg{/*background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%);*//*width:100%;height:100%;position:absolute;*/}

/*--------link-icon---------*/
.link-icon {padding: 40px 0; background: #eee;}
.link-icon .col-md-2 {width: 20%;}
.link-icon .cuadro{padding: 20px 0;border: 1px solid #ccc; height: 86px;}
.link-icon .cuadro:hover{background: rgba(11,22,60,.8); border: 1px solid #eee;}
.link-icon .cuadro:hover i{color: #fff;}
.link-icon .cuadro:hover a{color: #fff;}
.link-icon .cuadro i {display: inline-block; font-size: 40px; color:rgb(212,42,94); }
.link-icon .cuadro h5{display: inline-block; margin-top: 11%; color: #110056; }
.link-icon .cuadro .col-md-8{padding-left: 0px;text-align: left; }


@media only screen and (min-width: 1441px ) and (max-width: 1920px){
}
@media screen and (max-width: 1093px){/*
 .content-servicios .box-servis{margin-left: -1.5%;}
 .content-servicios .text-in .text .box-more{margin-top: -11.8%; position: absolute; right: 0px;}*/
}
@media screen and (max-width: 1024px){
 /*.content-servicios .box-servis{margin-left: -1.6%;}*/
 .content-tres .box-prestamo{margin-left: -0.1%;}
}
@media screen and (max-width: 991px){
  .link-icon .cuadro .col-md-8{padding-left: 15px; text-align: center;}
  .link-icon .cuadro{height: 126px;}
  .content-servicios .col-sm-6{padding-top: 15px; padding-bottom: 10px;}
}
@media screen and (max-width: 768px){
  /*.content-servicios .box-servis{margin-left: -2.1%;}*/
  /*.content-servicios .text-in .text .box-more{margin-top: -7.8%; position: absolute; right: 0px;}*/
}
@media screen and (max-width: 620px){
  .link-icon .col-xs-2{width: 33.3%;}
}
@media screen and (max-width: 560px){
  .content-tres .texto-gris p .text1{ font-weight: bold; font-size: 19px;}
  .content-tres .texto-gris p span{ font-size: 30px;}
  .content-tres .texto-rojo{font-size: 50px; padding-top: 13px;}
}
@media screen and (max-width: 500px){
  /*.content-servicios .box-servis{margin-left: -3.1%; margin-top: -2%;}*/
  /*.content-servicios .text-in .text .box-more{margin-top: -12.1%;}*/
  .content-tres .box-prestamo{margin-left: -0.2%; margin-top: -3%;}
}
@media screen and (max-width: 430px){
  .content-servicios .col-xs-6{width: 100%;}
  .content-tres .icono{height: 35px; width: 35px; font-size: 17px;}
  .content-tres .div-icons{padding: 0px;}
  .content-tres .title-prest {text-align: center;}
  .content-tres .texto-gris{margin-top: 18px;}
  .content-tres .texto-gris p span{font-size: 25px;}
  .content-servicios .box-servis{width: 100%; border-right: none; /*margin-top: -4%; margin-left: 0px;*/ padding: 0px;}
  .content-tres .box-prestamo{width: 100%; border-right: none;}
  /*.content-servicios .text-in .text .box-more {margin-top: -6.7%;}*/
}
@media screen and (max-width: 375px){
  /*.content-servicios .text-in .text .box-more {margin-top: -7.7%;}*/
}
@media screen and (max-width: 320px){
  /*.content-servicios .text-in .text .box-more {margin-top: -9.7%;}*/
  .link-icon .cuadro .responsabilidad-box{padding: 0px;}
}