/**{outline: 1px solid red;}*/

.sf-menu {margin: 0; padding: 0; list-style: none; }
.sf-menu * {margin: 0; padding: 0; list-style: none; }
.sf-menu ul {position: absolute; top: -999em; width: 11.6em;}
.sf-menu ul li {width: 100%;}
.sf-menu li {float: left; position: relative; }
.sf-menu li:hover {visibility: inherit; }
.sf-menu a {display: block; position: relative; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul {left: 0;top: 2.5em; z-index: 99; }
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {top: -999em; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {left: 10em;top: 0; }
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {top: -999em; }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {left: 10em; top: 0; }

.wrap {margin: 0 auto; position: relative;}
.wrap .global .date-search {background: rgb(11,22,60); color: #fff;}
.wrap .global .date-search h5 {padding: 10px 0; color: #fff;}
.wrap .global .date-search .box { width: 500px; height: 0; border-left: 20px solid transparent; border-bottom: 35px solid rgb(212,42,94);
   /* position: absolute; right: -17%;*/ margin-top: -2%; padding: 0 15px 0 0; float: right; }
.wrap .global .date-search .box .email{color: #fff; text-decoration:none;}
.wrap .global .date-search .box .email:hover{ text-decoration:underline;}
.wrap .global .date-search .box .icon{background: #fff; border-radius: 50%; width: 25px; height: 25px; margin-top:-1%; margin-right: 2%; display: inline-block;}
.wrap .global .date-search .box .icon i{color:rgb(221,19,123);  padding: 5px 9px;}
.wrap .global .date-search .box .icon:hover{background: #eee;}
.wrap .global .date-search .box .icon:hover i{color:  rgb(11,22,60);}
header.global .branding {background: #fff; height: auto; overflow: none; }
header.global .branding h1 {margin: 0; }
header.global .branding img.logo {margin: 10px 0 10px 0px;}
header.global nav { /*border-top: 4px solid rgb(223,189,153);*/ margin-top: 2.5%;
/*  -webkit-box-shadow: 0px 0px 0px 0px rgba(11,22,60,.7), 0px 4px 0px 0px rgb(223,189,153);
  -moz-box-shadow: 0px 0px 0px 0px rgba(11,22,60,.7), 0px 4px 0px 0px rgb(223,189,153);
  box-shadow: 0px 0px 0px 0px rgba(11,22,60,.7), 0px 4px 0px 0px rgb(223,189,153);*/
  min-height: 40px; }

header.global nav #hamburger {display: none; cursor: pointer; text-align: center; line-height: 46px; color: #dddddd; }
@media screen and (max-width: 768px) {
  header.global nav #hamburger {display: block; color: #fff; background: rgb(212,42,94); } 
}
header.global nav ul {margin: 0;/*padding: 0 25px;*/ display: block; }
@media screen and (max-width: 768px) {
  header.global nav ul {display: none; margin: 7px 0; padding: 0; } 
}
header.global nav ul li {display: inline-block; color: #dddddd; line-height: 44px; }
@media screen and (max-width: 768px) {
  header.global nav ul li {width: 100%; border-left: none; border-right: none;border-bottom: 1px dashed #505050; }
  header.global nav ul li:first-child {border-top: none; }
  header.global nav ul li:last-child {border-bottom: none; } 
}
header.global nav ul li:first-child {border-left: none; }
header.global nav ul li:last-child {border-right: none; }
header.global nav ul li:hover {color: white; }
@media screen and (min-width: 768px) {
  header.global nav ul li:hover > a {position: relative; }
/*  header.global nav ul li:hover > a:after {content: ""; position: absolute; left: 20px; top: 40px; border-width: 0 8px 8px; border-style: solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(221,19,123); display: block; width: 0; z-index: 999; }*/
}
header.global nav ul li ul {margin-top: 9px; background: rgba(11,22,60,.8); border-top: 4px solid rgb(221,19,123); padding: 0; }
@media screen and (max-width: 768px) {
  header.global nav ul li ul {width: 100% !important;}
  header.global .sf-menu .submenu ul {background: rgb(11,22,60);}
}
header.global nav ul li ul li {border-top: 1px solid #474747; border-bottom: 1px solid #ccc; border-right: none; border-left: none; }
header.global nav ul li ul li:first-child { border-top: none; }
header.global nav ul li ul li:last-child { border-bottom: none; }
header.global nav ul li ul li a { padding: 10px 10px; line-height: 1em; float: left; }
header.global nav ul li ul li:hover { padding-left: 5px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }
@media screen and (min-width: 768px) {
  header.global nav ul li ul li:hover a:after {border: none;} 
}
header.global nav .menu-right {float: right; }
header.global nav ul li a {text-decoration: none; color: rgb(11,22,60); padding: 0 22px; font-size: 14px; text-transform:uppercase; }
header.global nav ul .menu-list ul li a { color: #ddd; font-weight:normal; font-size: 14px; text-transform: none;}
header.global nav ul li .active {color: rgba(221,19,123,.9);}
header.global nav ul li a:hover {color: rgba(221,19,123,.8);}
header.global nav ul .menu-list:hover span{border-top: 4px solid rgba(221,19,123,.9);}
header.global nav ul li .border-bott:hover {border-bottom: 4px solid rgba(221,19,123,.8);}
header.global nav ul li.home { min-width: 46px; border-right: none; text-align: center; }
header.global nav ul li.home i { font-size: 21px; }
header.global nav ul li.home span {display: none; }
header.global nav ul li .sub-indicator, header.global nav ul li .top-menu ul li a .sub-indicator { right: 7px; top: 50%; margin-top: -2px;
  position: absolute; display: inline-block; content: ''; width: 0; height: 0; border: 4px solid rgba(0, 0, 0, 0); border-top: 4px solid #3c4856; }

@media only screen and (min-width: 1441px ) and (max-width: 1920px){
  .wrap .global .date-search .box { width: 600px; height: 0; margin-top: -1.5%; padding: 0 17px 0 0; }
}
@media screen and (max-width: 991px){
  .wrap .global .date-search .box { width: 480px; height: 0; border-bottom: 33px solid rgb(212,42,94); float: right;
    /*position: absolute; right: -30%;*/ margin-top: -2.5%; padding: 0 10px 0 0; position: relative; z-index: 9999;}
  .wrap .global .date-search .box .icon{ margin-top:-4%; margin-right: 2%; display: inline-block;}
}
@media only screen and (min-width: 769px ) and (max-width: 991px) {
  header.global nav{margin-bottom: 20px;}
}
@media screen and (max-width: 768px) {
  header.global nav ul li .border-bott:hover {border-bottom:none;}
  header.global nav .menu-right {float: none; }
  header.global nav {padding-left: 0px; padding-right: 0px; }
}
@media screen and (max-width: 600px) {
  header.global .branding img.logo {margin: 10px 0 0 16px; max-width: 170px;}
  header.global .branding { height: 80px;}
}


/*------footer-------------*/
footer{font-family: 'PT Sans', sans-serif; background: rgba(11,22,60,.9); color: #fff; padding: 30px 0;}
/*footer img{margin-bottom: 8%;}
footer ul{margin-top: 10px;}
footer ul li i{color: rgb(212,42,94); width: 10px;}
footer ul li a{color: #fff;}
footer ul li a:hover{color: #fff;}
footer h5{text-align: left; color:rgb(212,42,94); text-transform: uppercase; font-family:'Oswald', sans-serif; font-weight: 400;}
footer .border-col{border-right: 1px dashed #999; border-left: 1px dashed #999;}
footer .contact .icon-tel i{font-size: 45px; color:#fff;}
footer .contact h3{color: #fff; font-weight: bold;}
footer .contact{ font-size: 13px;}
footer .contact span{color: rgb(212,42,94);}
footer .contact .copyright{margin-top: 20px;}

@media screen and (max-width: 767px) {
  footer .mg-top .text-right{text-align: center;}
  footer .mg-top .text-left{text-align: center;}  }
@media screen and (max-width: 500px){
  footer .contact h3{font-size:18px; text-align:center; }
  footer .contact h4{font-size:16px; text-align:center; }
  footer .contact .icon-tel i{font-size: 36px;}
  footer img{width: 100%;}
}
@media screen and (max-width: 430px){
  footer .col-xs-4{width: 100%;}
  footer .mg-top{padding-top: 15px;}
  footer img{width:initial;}
  footer img{margin-bottom: 4%;}
  footer .border-col{border-right:none; border-left:none;}
  footer .border-col ul{margin-left: 27%;}
  footer h5{text-align: center;}
}*/

/*--------foooter--------------*/
.generic-anchor {color: #ccc;} /*#8DB9ED*/
.generic-anchor:visited {color: #ccc;}
.generic-anchor:hover {color: rgb(212,42,94); text-decoration: none;}
.flex-rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}
.footer-list-top { /*width: 33.333%;*/ margin-top: 0px;}
.footer-list-top > li {text-align: center; padding-bottom: 5px;}
.footer-list-header {padding: 0px 0 5px 0; color: #fff; font: 1.4em "Oswald", sans-serif;}
.footer-social-section {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {content: ""; position: absolute; z-index: 1; top: 50%; left: 10px; border-top: 1px solid #999;width: calc(100% - 20px);}
.footer-social-overlap {position: relative; z-index: 2; background: #222c4f; padding: 0 10px;}
.footer-social-connect { font: 1.4em "Oswald", sans-serif; color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-social-small {font-size: 0.6em; padding: 0px 10px;}
.footer-social-overlap > a {font-size: 1.6em;}
.footer-social-overlap > a:not(:first-child) {margin-left: 0.38em;}

@media only screen and (max-width: 768px) {
  .footer-list-header {font-size: 1.3em;}
  .footer-list-anchor {font-size: 1em;}
  .footer-social-connect {font-size: 1.3em;}
  .footer-social-overlap > a {font-size: 1.6em;}
}
@media only screen and (max-width: 568px) {
  .footer-list-top {width: 100%;}
  .footer-social-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-social-section::after {top: 25%;}
  .footer-social-connect {margin-bottom: 10px; padding: 0 10px;}
  .footer-social-overlap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-social-icons-wrapper {width: 100%; padding: 0;}
  .footer-social-overlap > a:not(:first-child) {margin-left: 20px;}
}

.footer-2{background:rgb(11,22,60); padding: 10px 0; font-size: 13px;}
.footer-2 span{color:rgb(212,42,94); }



/*---------button scroll------*/
.footer-2 .scrollup{width:40px; height:40px; opacity:0.7; bottom:55px; position:fixed; right:95px;background:rgba(11,22,60,.8); border-radius: 50%; 
  display:none; cursor:pointer; z-index: 9999;}
.footer-2 .scrollup i{color: white;padding: 7px; font-size: 22px;}
.footer-2 .scrollup:hover{background-color: rgba(212,42,94,.9);}
.footer-2 .scrollup:hover i{color: #eee;}