/**{outline: 1px solid red;}*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

body{font-family: 'PT Sans', sans-serif; text-align: center;}
/*-------------slider------------*/
body section {display: block;}
body h1, body h2, body h3, body h4, body h5, body h6, body ul, body li { margin: 0; padding: 0;}
#section-1 h1 { font-weight: 700; text-transform: uppercase; font-size: 3.3em;}
#section-1 h2 { font-size: 1.8em; font-weight: 700; text-transform: uppercase;}
#section-1 p { line-height: 150%; font-family: Roboto, sans-serif; font-size: 0.9375em; color: #999;}
body li { list-style-type: none;}
body a { text-decoration: none;}
.bg-wrapper { width: 100%; height: 100%; background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));}
.section-header { padding-top: 5.625em; text-align: center;}
.section-header h3 { margin-bottom: 0.5em;}
.section-header .line-red { margin: 2.5em auto 2.9375em auto;}
.line-red {display: block; width: 4em; height: 0.1875em; margin: 0 auto; background: #f38181;}

#section-1 { height: 38em; color: #fff;background-color: #222; /*margin-top: 4px*/;} 
#section-1 .content-slider {position: relative; width: 100%; height: 100%;}
#section-1 .content-slider input {display: inline-block; position: absolute; bottom: 3%; z-index: 9999;}
#section-1 .content-slider .input1 { left: 48%;}
#section-1 .content-slider .input2 { left: 50%;}
#section-1 .content-slider .input3 { left: 52%;}
#section-1 .content-slider .input4 { left: 54%;}
#section-1 .content-slider .slider { position: relative; width: inherit; height: inherit; overflow: hidden;}
#section-1 .content-slider .slider .banner {position: absolute; top: 0; left: 0; opacity: 0; z-index: 0; width: inherit; height: inherit;
  text-align: center; background-repeat: no-repeat; background-position: 50% 50%; transition: all .5s ease;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper { height: 100%; padding-top: 6em;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {display: inline-block; width: 5em; height: 0.1875em; margin: 2.2em auto; background:#3d4563;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {padding-bottom: 5em; z-index: 15 !important;}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
  padding: 0.5em 2em; text-align: center; font-size: 0.875em; color: rgba(11,22,60,.8); text-transform: uppercase; border: 0.1875em solid rgba(11,22,60,.8);}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
  color: rgb(212,42,94); border-color: rgb(212,42,94); transition: .3s;}
#section-1 .content-slider .slider #top-banner-1 {background: rgb(198, 238, 255);background-size: cover;}
#section-1 .content-slider .slider #top-banner-1 img{width: 39%; position: absolute; left: 11%; bottom: 0;}
#section-1 .content-slider .slider #top-banner-2 {background: url('../img/creditos/fondo-desenfocado.jpg'); background-size: cover;}
#section-1 .content-slider .slider #top-banner-2 img{width: 39%; position: absolute; bottom: 0;}
#section-1 .content-slider .slider #top-banner-3 {background: #fff;background-size: cover;}
#section-1 .content-slider .slider #top-banner-3 img{width: 63%; position: absolute; bottom: 0;}
#section-1 .content-slider .slider #top-banner-4 {background: url('../img/creditos/fondo-degradado.jpg'); background-size: cover;}
#section-1 .content-slider .slider #top-banner-4 .img-1{width: 49%; position: absolute; left:0; bottom: 0;}
#section-1 .content-slider .slider #top-banner-4 .img-2{display: none;}
/*#section-1 .content-slider .slider #top-banner-4 .text{width: 49%; position: absolute; left:50%; bottom: 18%;}*/

#section-1 .content-slider .slider .banner .slid-1{float: right; text-align: right;}
#section-1 .content-slider .slider .banner .slid-2{float: left; }
#section-1 .content-slider .slider .banner .slid-3{float: left; }

#section-1 .content-slider .slider .banner .slid-4{text-align: right;}
#section-1 .content-slider .slider .banner .slid-4 h1{color: rgb(212,42,94);}
#section-1 .content-slider .slider .banner .slid-4 h2{color: rgba(11,22,60,.8);}

#section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
#section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
#section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
#section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
  opacity: 1;
  z-index: 1;
}


@media only screen and (min-width: 1920px) {
  #section-1 {height: 26.5em; max-height: 26.5em;}   /*42em*/
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 6.5em;}
  #section-1 .content-slider .slider #top-banner-1 img{width: 29%; left: 20%;}
  #section-1 .content-slider .slider #top-banner-2 img{width: 29%; }
  #section-1 .content-slider .slider #top-banner-4 .img-1{width: 37%;}
}
@media only screen and (max-width: 1919px) {
  #section-1 {height: 26.5em; max-height: 26.5em;} /*43em*/
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 6.5em;}
  #section-1 .content-slider .slider #top-banner-4 .img-1{width: 38%;}
}
@media only screen and (max-width: 1680px) {
  #section-1 { height: 26.5em; max-height: 26.5em;}   /*40em 35em*/
  #section-1 .content-slider .slider .banner .banner-inner-wrapper { padding-top: 6.5em;}
  #section-1 .content-slider .slider #top-banner-4 .img-1{width: 40%;}
}
@media only screen and (max-width: 1630px) {
  #section-1 .content-slider .slider #top-banner-4 .img-1{width: 43%;}
}
@media only screen and (max-width: 1366px) {
  #section-1 .content-slider .slider #top-banner-4 .img-1{width: 49%;}
}
@media only screen and (max-width: 1120px) {
  #section-1 { height: 21.5em; max-height: 26.5em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper { padding-top: 5em;}
  #section-1 h1 { font-size: 2.9em;}
  #section-1 h2 { font-size: 1.5em;}
}
@media only screen and (max-width: 1024px) {
  #section-1 .content-slider .slider .banner .banner-inner-wrapper { padding-top: 5em;}
  #section-1 h1 { font-size: 2.8em;}
  #section-1 h2 { font-size: 1.4em;}
  #section-1 .content-slider .slider #top-banner-4 .img-1{width: 52%;}
}
@media only screen and (max-width: 860px) {
  #section-1 { height: 17.5em; max-height: 26.5em;}
  #section-1 h1 { font-size: 2.6em;}
  #section-1 h2 { font-size: 1.2em;}
  #section-1 .content-slider .slider #top-banner-4 .img-1{left: -9%;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 3.2em;}
}
@media only screen and (max-width: 768px) {
  #section-1 .content-slider .slider #top-banner-4 .img-1{width: 57%; left: -12%;}
}
@media only screen and (max-width: 767px) {#section-1 {margin-top: -9px;} }
@media only screen and (max-width: 480px) {
  #section-1 { height: 14.2em; max-height: 26.5em;}
  #section-1 h1 { font-size: 2.2em;}
  #section-1 h2 { font-size: 1em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper{width: 55%; padding-top: 1.5em;}
  #section-1 .content-slider .slider .banner .slid-4{float: right;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line { width: 4em;height:2px; margin: 1.3em auto;}
  #section-1 .content-slider .slider #top-banner-4 .img-1{width: 75%; left: -29%;}
}
@media only screen and (max-width: 425px) {
  #section-1 h1 { font-size: 2em;}
  #section-1 h2 { font-size: .8em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper{width: 55%; padding-top: 2.2em;}
  #section-1 .content-slider .slider .banner .slid-4{float: right;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line { width: 4em;height:2px; margin: 1.1em auto;}
  #section-1 .content-slider .slider #top-banner-4 .img-1{width: 83%; left: -33%;}
}
@media only screen and (max-width: 375px) {
  #section-1 h1 { font-size: 1.8em;}
  #section-1 h2 { font-size: .8em;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper{width: 55%; padding-top: 2.3em;}
  #section-1 .content-slider .slider .banner .slid-4 br{display: none;}
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line { width: 4em;height:2px; margin: 1em auto;}
  #section-1 .content-slider .slider #top-banner-4 .img-1{display: none;}
  #section-1 .content-slider .slider #top-banner-4 .img-2{width: 70%; position: absolute; left:-15%; bottom: 0; display:block;}
}
@media only screen and (max-width: 320px) {
  #section-1 .content-slider .slider #top-banner-4 .img-2{width: 80%; position: absolute; left:-26%; bottom: 0; display:block;}
}

/*--------link-icon---------*/
.link-icon {padding: 40px 0; background: #eee;}
.link-icon .col-md-2 {width: 20%;}
.link-icon .cuadro{padding: 20px 0;border: 1px solid #ccc; height: 86px;}
.link-icon .cuadro:hover{background: rgba(11,22,60,.8); border: 1px solid #eee;}
.link-icon .cuadro:hover i{color: #fff;}
.link-icon .cuadro:hover a{color: #fff;}
.link-icon .cuadro a:hover, .link-icon .cuadro a:focus{border-bottom: 0px;}
.link-icon .cuadro i {display: inline-block; font-size: 40px; color:rgb(212,42,94); }
.link-icon .cuadro h5{display: inline-block; margin-top: 11%; color: #110056; }
.link-icon .cuadro .col-md-8{padding-left: 0px;text-align: left; }

/*--------------file-services-----------*/
.file-services{background-image: url('../img/fondo-testimonio.jpg'); background-size: 100px;}
.file-services .bg-transparent{background: rgba(225,225,225,.8); padding: 70px 0;}
.file-services .title {text-align:-webkit-auto; padding: 20px 0;}
.file-services .title h1{font-weight: bold; color:rgba(11,22,60,.8); padding: 20px 0;font-family:'Oswald', arial serif;  }
.file-services .title p{font-weight: bold; color:rgb(212,42,94);margin-bottom: 0px; text-transform: uppercase; }
.file-services .title h5{color: #666; font-size: 15px; }
.file-services .title i{font-size: 25px; padding: 15px 0; }
.file-services .title a{color: rgb(212,42,94); font-size: 15px;}
.file-services .title a input{padding: 8px 30px; border: 1px solid rgb(212,42,94); background: transparent;}
.file-services .title a:hover{color: #fff;}
.file-services .title a:hover input{background: rgba(11,22,60,.8); border: 1px solid rgba(11,22,60,.1);}
.material-card {position: relative; height: 0; padding-bottom: calc(100% - 16px); margin-bottom: 3.3em; text-align:-webkit-auto;}
.material-card h2 {position: absolute; top: calc(100% - 16px);left: 0; width: 100%; padding: 10px 16px; color: #fff; font-size: 1.4em;
  line-height: 1.6em; margin: 0; z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card h2 span {display: block;}
.material-card h2:before, .material-card h2:after {content: ' '; position: absolute; left: 0; top: -16px; width: 0; border: 8px solid;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card h2:after {top: auto; bottom: 0;}
.material-card.mc-active h2 {top: 0; padding: 10px 16px 10px 90px;}
.material-card.mc-active h2:before {top: 0;}
.material-card.mc-active h2:after {bottom: -16px;}
.material-card .mc-content {position: absolute; right: 0; top: 0; bottom: 16px; left: 16px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card .mc-btn-action {position: absolute; right: 16px; top: 15px; border-radius: 50%; border: 5px solid; width: 54px; height: 54px; line-height: 44px; text-align: center; color: #fff; cursor: pointer; z-index: 20;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.mc-active .mc-btn-action {top: 34px; }
.material-card .mc-description {position: absolute; top: 100%; right: 30px; left: 30px; bottom: 5px; overflow: hidden; opacity: 0;
  filter: alpha(opacity=0); color: #666;
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  -ms-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
}
.material-card .mc-footer {height: 0; overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card .img-container {overflow: hidden; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.mc-active .img-container {border-radius: 50%; left: 0; top: 12px; width: 60px; height: 60px; z-index: 20;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0px 1px 8px #666;
}
.material-card.mc-active .mc-content {padding-top: 5.6em;}
.material-card.mc-active .mc-description {top: 90px; opacity: 1; filter: alpha(opacity=100); }
.material-card.mc-active .mc-footer {overflow: visible; position: absolute; top: calc(100% - 16px); left:16px; right:0;height:52px;
  padding:15px;}
.material-card.Red h2 {background-color: rgb(212,42,94); font-family:'Oswald', arial serif; font-weight: 400;}
.material-card.Red h2:after {border-top-color: rgb(212,42,94); border-right-color: rgb(212,42,94); border-bottom-color: transparent;
  border-left-color: transparent;}
.material-card.Red h2:before {border-top-color: transparent; border-right-color: rgb(138, 40, 70); border-bottom-color: rgb(138, 40, 70); border-left-color: transparent;}
.material-card.Red.mc-active h2:before {border-top-color: transparent; border-right-color: rgb(212,42,94); border-bottom-color: rgb(212,42,94);border-left-color: transparent;}
.material-card.Red.mc-active h2:after {border-top-color: rgb(138, 40, 70); border-right-color: rgb(138, 40, 70); border-bottom-color: transparent; border-left-color: transparent;}
.material-card.Red .mc-btn-action {background-color: rgb(212,42,94);}
.material-card.Red .mc-btn-action:hover {background-color: #3b4463;}
.material-card.Red .mc-footer a {text-decoration: none;}
.material-card.Red .mc-footer h5 {color: #d42a5e; font-weight: bold; font-size: 15px;}
.material-card.Red .mc-footer h5:hover {color: rgba(11,22,60,.8); }
.material-card.Red.mc-active .mc-content {background-color: #FFEBEE;}
.material-card.Red.mc-active .mc-footer {background-color: #FFCDD2;}
.material-card.Red.mc-active .mc-btn-action {border-color: rgb(255,235,238);}
@media screen and (max-width: 767px) {
  .material-card.mc-active .mc-content {position: relative; margin-right: 16px;}
  .material-card.mc-active .mc-description{position:relative;top:auto;right:auto;left:auto; padding:50px 30px 70px 30px;bottom:0;}
  .material-card.mc-active {padding-bottom: 0;height: auto;}
}

/*---------------content------------------*/
.content-servicios{ background-image: url('../img/fondo-testimonio.jpg'); background-size: 100px;}
.content-servicios .opacity{background: rgba(225,225,225,.8); padding: 70px 0;}
.content-servicios .fondo{background: rgba(11,22,60,.8); padding-bottom: 3%; padding-right: 15px; padding-left: 15px; position: relative;}
.content-servicios .box-servis{ width: 400px; height: 0; border-right: 25px solid transparent; border-bottom: 35px solid rgb(212,42,94);
 padding: 0 15px 0 0; position: absolute; top: -3%; left:0px; }
.content-servicios .box-servis h4{color: #fff; padding: 8px 0;}
.content-servicios .box-servis h4 span{font-weight: bold; text-transform: uppercase;}
.content-servicios .text-in{ color: #fff; padding-top: 4%; }
.content-servicios .text-in .cuadro { padding: 10px; background: #ccc; margin: 10px 0;}
.content-servicios .text-in .cuadro img{width: 100%;}
.content-servicios .text-in .text {background: #eee; position: relative;}
.content-servicios .text-in .text .padding-box {padding: 10px; position: relative;}
.content-servicios .text-in .text h5 {color:#58595b; text-align: left; padding: 5px 0;font-family:'Oswald', arial serif;}
.content-servicios .text-in .text p{color: #808082; text-align: justify;}
.content-servicios .text-in .text .box-more{ width: 50px; height: 0; border-left: 20px solid transparent; border-bottom: 25px solid #ccc;
 right:0px; bottom: 0px;  padding: 0 3px 0 0; position: absolute;}
.content-servicios .text-in .text .box-more i{padding: 6px 0;}
.content-servicios .text-in .text .box-more:hover {border-bottom: 25px solid rgb(212,42,94);}
.content-servicios .title h3{color:#eee; font-family:'Oswald', sans-serif; font-weight: 400; font-size: 20px; text-transform:uppercase; }

.content-tres{padding: 70px 0;}
.content-tres .title {text-align: -webkit-auto; }
.content-tres .title p{font-weight: bold; color:rgb(212,42,94);margin-bottom: 0px; text-transform: uppercase; }
.content-tres .title-prest{ color: rgba(11,22,60,.8); font-family:'Oswald', sans-serif; padding: 15px 0 20px; }
.content-tres p{ color: #666;}
.content-tres .title-requi{color:#666; font-weight: 400; font-size:17px; padding:6px 0; text-align:-webkit-auto; }
.content-tres .padding-bott{padding-bottom: 20px; }
.content-tres .opcion i{color: rgb(212,42,94);  }
.content-tres .nota{color: rgb(212,42,94); text-align: -webkit-auto; font-weight: bold;}
.content-tres a{color: rgb(212,42,94); font-size: 15px;}
.content-tres a input{background: transparent; border: 1px solid; padding: 8px 30px; }
.content-tres a:hover{color: #fff;}
.content-tres a input:hover{background: rgba(11,22,60,.8); border:1px solid;}

/*------slick-------*/
.section-slick {width: 85%; margin: 0px auto;}
.white-back{box-shadow: 0 2px 5px rgba(0,0,0,0.2); background: #fff;}
.simple blockquote img{width: 100%;}
.simple blockquote{padding: 10px; margin: 0 0 0;}
.simple cite {font-size: 1em; float: right; font-style: normal; color: #1e528e;  position: absolute; top: 4%;}
.simple cite a { color: #2d91c2; font-style: italic; text-decoration: none; font-size:.85em;}
.simple cite a:hover { color: #00B4CC;}
.simple blockquote p {cursor: pointer;}
.slick-prev:before, .slick-next:before{color: rgb(212,42,94);}

@media only screen and (min-width: 1441px ) and (max-width: 1920px){
}
@media screen and (max-width: 1024px){
 .content-tres .box-prestamo{margin-left: -0.1%;}
}
@media screen and (max-width: 991px){
  .link-icon .cuadro .col-md-8{padding-left: 15px; text-align: center;}
  .link-icon .cuadro{height: 126px;}
  .content-servicios .col-sm-6{padding-top: 15px; padding-bottom: 10px;}
}
@media screen and (max-width: 620px){
  .link-icon .col-xs-2{width: 33.3%;}
}
@media screen and (max-width: 560px){
  .content-tres .texto-gris p .text1{ font-weight: bold; font-size: 19px;}
  .content-tres .texto-gris p span{ font-size: 30px;}
  .content-tres .texto-rojo{font-size: 50px; padding-top: 13px;}
}
@media screen and (max-width: 500px){
  .content-tres .box-prestamo{margin-left: -0.2%; margin-top: -3%;}
}
@media screen and (max-width: 430px){
  .content-servicios .col-xs-6{width: 100%;}
  .content-tres .icono{height: 35px; width: 35px; font-size: 17px;}
  .content-tres .div-icons{padding: 0px;}
  .content-tres .title-prest {text-align: center;}
  .content-tres .texto-gris{margin-top: 18px;}
  .content-tres .texto-gris p span{font-size: 25px;}
  .content-servicios .box-servis{width: 100%; border-right: none; padding: 0px;}
  .content-tres .box-prestamo{width: 100%; border-right: none;}
}
@media screen and (max-width: 320px){
  .link-icon .cuadro .responsabilidad-box{padding: 0px;}
}