/**{outline: 1px solid red;}*/

body h1, body h2, body h3, body h4, body h5, body h6, body ul, body li { margin: 0; padding: 0;}
body {margin: 0;}
body{font-family: 'PT Sans', sans-serif;}
header{ text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
  box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
}

.control{margin: 40px 0 0;}
.control hr{color: #ccc; margin: 0px;}
.control .box-links p{color: #ccc; padding: 7px 20px;}
.control .box-links a{color: #000; font-size: 12px;}
.title-page h2{font-weight: bold; color: rgb(212,42,94); padding: 40px 0 20px; font-family:'Oswald', sans-serif; }
.title-page hr{ margin: 0px; width: 10%; border-top: 3px solid rgb(212,42,94); } 
/*-----preguntasss------------*/
/*.ask .cont-tabs {border-bottom: 1px solid #cccccc; width: 100%; margin-left: 0px;}
.ask .cont-tabs li {display: inline-block; width: 200px; text-align: center; margin: 0 1px;}
.ask .cont-tabs li a {background: rgba(11,22,60,.8); display: block; text-decoration: none; font-family: 'PT Sans', sans-serif; font-size: 14px; color: #fff;
  padding: 10px 0; position: relative;}
.ask .cont-tabs li:hover a {background: #ccc; color: rgb(11,22,60);}
.ask .cont-tabs li a:after {content: ''; position: absolute; width: 100%; height: 3px; background: #fff; left: 0; bottom: 0;}
.ask .cont-tabs li a.activo {color: rgb(11,22,60); background: #fff; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.ask .cont-tabs li a.activo:after {bottom: -1px;}
.ask .cont-info-tabs div {display: none; font-family:'PT Sans', sans-serif; color: #505050; font-size: 14px; margin-top: 20px;}
.ask .cont-info-tabs div.activo { display: block;}
*/

.section-info{padding: 50px 0;}
.section-info .tab-content{padding: 20px 0 0;}
/*.section-info .tab-content .title .images img{width: 100% ;}*/
.section-info .tab-content .title h4{color: rgb(11,22,60);}
.section-info .tab-content .title p{color: #505050; margin-top: 10px;}
.section-info .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color: #fff; font-weight: 100; border: 1px solid #ccc; border-bottom: 1px solid #fff;}
.section-info .nav-tabs>li>a{color: #fff; font-weight: 400; border:none; margin-right: 9px; border-radius: 0px; 
	background:rgba(11,22,60,.8); border:1px solid rgba(11,22,60,.1);}
.section-info .nav-tabs > li.active > a{color: rgb(11,22,60); border-radius: 0px;}
.section-info .nav-tabs > li a:hover{background-color: #ccc; color:rgba(11,22,60,.9);border:1px solid #ccc; }
.section-info .nav-tabs>li{float: none; margin: 2px 0; display: inline-block; padding-right: 0px; padding-left: 0px;}

